@font-face {
    font-family: museo;
    src: url(assets/fonts/MuseoSans500/MuseoSans_500.otf);
}
@font-face {
    font-family: museo100;
    src: url(assets/fonts/MuseoSans100/MuseoSans-100.otf);
}

html {
    font-family: 'museo', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: #484848;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --red: rgb(230, 33, 18);
}

a{
    color: #484848;
}


            /* BOTTONI */


.red-button{
    color: white;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-size:1.125rem;
    white-space: nowrap;
    transition: background-color 0.5s;
    margin: 2rem 1rem 2rem 1rem;
    cursor: pointer;
    position: absolute;
    top: -1rem;
    font-family: museo;
}
.store-button {
    top: -1.75rem;
    right: -1rem;
}

.gs-button {
    top: -2.5rem;
}

.news-button {
    left: 0;
    top: unset;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}


@keyframes boing {
    30%{
        padding-top: calc(1rem + 5px);
        padding-bottom: calc(1rem + 5px);
        margin-top: 1.44rem;
        margin-bottom: 1.44rem;
    }
    40% {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    60% {
        padding-top: calc(1rem - 3px);
        padding-bottom: calc(1rem - 3px);
        margin-top: calc(1.44rem + 8px);
        margin-bottom: calc(1.44rem + 8px);
    }
    85% {
        padding-top: calc(1rem + 2px);
        padding-bottom: calc(1rem + 2px);
        margin-top: calc(1.44rem  + 3px);
        margin-bottom: calc(1.44rem + 3px);
    }
    100%{
        padding: 1rem 2rem;
        margin: 1.75rem .5rem 1.75rem .5rem;
    }
}

.red-button:hover {
    animation: boing 400ms forwards;
    background-color: #ab160d;
    border: 1px solid #ab160d;
    max-width: 100vw;
}

.see-full-list {
    color: white;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 0.25rem;
    padding: 10rem 1.5rem;
    font-size:1.125rem;
    white-space: nowrap;
    transition: all 0.5s;
    margin: 2rem 1rem 2rem 1rem;
    cursor: pointer;
    top: -1rem;
    
}

@keyframes boing2 {
    30%{
        padding-top: calc(10rem + 5px);
        padding-bottom: calc(10rem + 5px);
        margin-top: 1.44rem;
        margin-bottom: 1.44rem;
    }
    40% {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    60% {
        padding-top: calc(10rem - 3px);
        padding-bottom: calc(10rem - 3px);
        margin-top: calc(1.44rem + 8px);
        margin-bottom: calc(1.44rem + 8px);
    }
    85% {
        padding-top: calc(10rem + 2px);
        padding-bottom: calc(10rem + 2px);
        margin-top: calc(1.44rem  + 3px);
        margin-bottom: calc(1.44rem + 3px);
    }
    100%{
        padding: 10rem 2rem;
        margin: 1.75rem .5rem 1.75rem .5rem;
    }

}

@keyframes boing3 {
    30%{
        padding-top: calc(1rem + 5px);
        padding-bottom: calc(1rem + 5px);
        margin-top: 1.44rem;
        margin-bottom: 1.44rem;
    }
    40% {
        padding-left: calc(2rem + 5px);
        padding-right: calc(2rem + 5px);
        margin-left: -.3rem;
        margin-right: -5px;
        width: 98vw;
    }
    60% {
        padding-top: calc(1rem - 3px);
        padding-bottom: calc(1rem - 3px);
        margin-top: calc(1.44rem + 8px);
        margin-bottom: calc(1.44rem + 8px);
    }
    85% {
        padding-top: calc(1rem + 2px);
        padding-bottom: calc(1rem + 2px);
        margin-top: calc(1.44rem  + 3px);
        margin-bottom: calc(1.44rem + 3px);
    }
    100%{
        padding: 1rem 2rem;
        margin: 1.75rem 0 1.75rem 0;
        width: 98vw;
    }
}

@keyframes boing4 {
    30%{
        padding-top: calc(1rem + 5px);
        padding-bottom: calc(1rem + 5px);
        margin-top: 1.44rem;
        margin-bottom: 1.44rem;
    }
    40% {
        padding-left: calc(2rem + 5px);
        padding-right: calc(2rem + 5px);
        margin-left: -1vw;
        margin-right: -5px;
        width: 98vw;
    }
    60% {
        padding-top: calc(1rem - 3px);
        padding-bottom: calc(1rem - 3px);
        margin-top: calc(1.44rem + 8px);
        margin-bottom: calc(1.44rem + 8px);
    }
    85% {
        padding-top: calc(1rem + 2px);
        padding-bottom: calc(1rem + 2px);
        margin-top: calc(1.44rem  + 3px);
        margin-bottom: calc(1.44rem + 3px);
    }
    100%{
        padding: 1rem 2rem;
        margin: 1.75rem 0 1.75rem -1vw;
        width: 98vw;
    }
}


.see-full-list:hover {
    animation: boing2 400ms forwards;
    background-color: #ab160d;
    border: 1px solid #ab160d;
}
              /* CARD SEZIONE FEATURED*/
        .featured h2  {
        padding-right: 19rem;
        padding-bottom: 24px;
        margin:0;
        }
        .featured{
           box-sizing: border-box;
           border-radius: 0.25rem;
           width: 100%;
           
           
        }
        .card-feat{
            border-radius: 0.25rem;
            box-sizing: border-box;
            border-radius:0.2rem ;
            display: flex;
           flex-direction: column;
           justify-content: flex-end;
           padding-bottom:1rem;
             
        }
        .card-feat:hover{
           gap:1rem ;  
        }
        
        .featured img{
         width: 260px;
         height: 146.25px;
         padding-bottom: 1rem;
        }
        
        h4 , p{
            margin-left: 1rem;
            margin-right:1rem ; 
             
        }
        p{
           font-family: museo-sans;
        }
        
        .card{
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           padding: 0 16px;
           box-sizing: border-box;
           height: 100.8px;
        }
        .footer{
            color:#484848;
            border-left: #ab160d solid 0.20rem;
        }
        
       /* CARD SEZIONE CHARACTERS */


.characters-item .img-container {
    min-width: 10.5rem;
    max-width: 23.06rem;
    min-height: 10.5rem;
    max-height: 23.5rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.img-container {
    overflow: hidden;
    margin-bottom: 0.55rem;
}

.characters-item img {
    width: 100%;
    border-radius: 0.25rem;
    transition: all 0.3s;
    aspect-ratio: 1 / 1;
}

.characters-item:first-of-type img {
    background-image: url(assets/images/mario-bg.png);
    background-position: center;
    background-size: 120%;

}

.characters-item:nth-of-type(2) img {
    background-image: url(assets/images/1600x1600_NCOM_Home_Characters_TLOZ_BOTW_BG.jpeg);
    background-position: center;
    background-size: 120%;
}

.characters-item:nth-of-type(3) img {
    background-image: url(assets/images/Ncom_CharacterRail_1600x1600_Splatoon_BG.png);
    background-position: center;
    background-size: 120%;
}

.characters-item:last-of-type img {
    background-image: url(assets/images/1600x1600_NCOM_Home_Characters_Kirby_BG.jpeg);
    background-position: center;
    background-size: 120%;
}

.characters-item img:hover {
    background-size: 87.5%;
    transform: scale(1.15);
    transform-origin: 50% 50%;
    
}
