nav {
    position: sticky;
    top: 0;
}

.upper-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #75757556;
}

.nav-first-row-left {
    display: flex;
    flex-direction: row;
    background-color:white;
}

.main-logo {
    width: 105px;
    height: 51px;
    background-color:var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.none{
    display: none;
}

.form-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #484848b9;
    margin: 0 0 0.53rem 1rem;
    width: 450px;
    font-size: 0.85rem;
    font-weight: bold;   
    letter-spacing: 0.2px; 
}

.form-wrapper ul li:first-child  {
    padding: 0.45rem 0 0 0;
}

.form-wrapper ul li:first-child a, a, .main-button, .form-wrapper {
    transition: all 0.3s;
}

.form-wrapper ul li:first-child svg{
    display: flex;
    position: absolute;
    left: 34.2rem;
    top: 1.13rem;
}

.form-wrapper ul li:first-child a:hover, a:hover, .main-button:hover, .nav-second-row h3:hover {
    color: var(--red);
}

.form-wrapper:hover {
    border-bottom: 1px solid var(--red);
}

.form-wrapper a {
    display: flex;
    flex-direction: row;
}

h3 a, h3, .main.button {
    display:flex;
    gap: 0.4rem;
    align-items: center;
}

.main-button {
    background-color: inherit;
    border: none;
    margin: 0 4.4rem -.6rem 0;
    font-family: museo100;
    font-size: 0.87rem;
    display: flex;
    color: #616161;
}

.main-button svg {
    margin-right: 0.6rem;
}

.nav-first-row-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.85rem;
    font-size: 0.73rem;
    padding-right: 1.3rem;
    letter-spacing: .1px;
}


.nav-second-row {
    display: flex;
    gap: 2.45rem;
    background-color:white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #75757556;
    height: 45px;
}

.nav-second-row h3 {
    cursor: pointer;
    transition: all 0.3s;
}

.nav-second-row h3, .nav-second-row a {
    font-size: .98rem;
    letter-spacing: .15px;
}

.nav-second-row h3 svg {
    padding-left: 1.5px;
}