*{
    text-decoration: none;
    list-style-type: none;
}

.upper-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #75757556;
}

.nav-first-row-left {
    display: flex;
    flex-direction: row;
    background-color:white;
}

.main-logo {
    width: 105px;
    height: 50px;
    background-color:var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.none{
    display: none;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #484848b9;
    margin: 0 0 0.5rem 0.8rem;
    width: 450px;
    font-size: 0.85rem;
    font-weight: bold;    
}

.form-wrapper ul li:first-child  {
    margin: 0 1rem 0 0;
    padding: 0.45rem 0 0 0;
}

.nav-first-row-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 0.8rem;
}

.form-wrapper ul li:first-child svg{
    display: flex;
    margin-left: 2rem;
}
.form-wrapper a {
    display: flex;
    flex-direction: row;
}

h3 a, h3, .main.button {
    display:flex;
    gap: 0.4rem;
    align-items: center;
}

a{
    color: #484848;
}

.main-button {
    background-color: inherit;
    border: none;
    margin: 0 4.5rem 0 0;
    font-family: museo100;
}

.nav-second-row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    background-color:white;
    justify-content: center;
    margin: 0.7rem 0 0 0;
    font-size: small;    
}