            /* NAVBAR */

nav {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: white;
}

.upper-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #75757556;
}

.nav-first-row-left {
    display: flex;
    flex-direction: row;
}

.main-logo {
    width: 6.5625rem;
    height: 3.1875rem;
    background-color:var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.form-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #484848b9;
    margin: 0 0 0.53rem 1rem;
    width: 28.125rem;
    font-size: 0.85rem;
    font-weight: bold;   
    letter-spacing: 0.2px; 
}

.form-wrapper ul li:first-child a {
    padding: 0.45rem 0 0 0;
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
}

.form-wrapper ul li:first-child a, a, .main-button, .form-wrapper {
    transition: all 0.3s;
}

.form-wrapper ul li:first-child a:hover, a:hover, .main-button:hover, .nav-second-row h3:hover {
    color: var(--red);
}

.form-wrapper:hover {
    border-bottom: 1px solid var(--red);
}

.form-wrapper a {
    display: flex;
    flex-direction: row;
}

h3 a, h3, .main.button {
    display:flex;
    gap: 0.4rem;
    align-items: center;
}

.main-button {
    background-color: inherit;
    border: none;
    margin: 0 4.4rem -.6rem 0;
    font-family: museo100;
    font-size: 0.87rem;
    display: flex;
    color: #616161;
}

.main-button svg {
    margin-right: 0.6rem;
}

.nav-first-row-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.9rem;
    padding-right: 1.1rem;
    font-size: 0.73rem;
    letter-spacing: .1px;
}


.nav-second-row {
    display: flex;
    gap: 2.5rem;
    background-color:white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #75757556;
    height: 2.6875rem;
}

.nav-second-row a,.nav-second-row h3 {
    cursor: pointer;
    transition: all 0.3s;
    padding-top: 2px;
}

.nav-second-row h3, .nav-second-row a {
    font-size: .98rem;
    letter-spacing: .15px;
}

.nav-second-row h3 svg {
    padding-left: 1.5px;
}
                    /* MOBILE NAV */

.nav-mobile {
    justify-content: flex-start;
    position: sticky;
    top: 0;
    height: 2.88rem;
    background-color: var(--red);
    width: 100vw;
    z-index: 1;
}

.nav-mobile svg {
    margin-left: 1rem;
    color: white;
}

.mobile-bottom-nav {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 27.5rem;
    width: 96vw;
    height: 3.65rem;
    background-color: white;
    border-radius: 2rem;
    border: 1px solid rgba(237, 237, 237, 0.984);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    top: 90.5vh;
}

.mob-nav-button {
    color: var(--black);
    padding-top: 0.86rem;
    padding-bottom: 0.81rem;
    width: 17.1vw;
    max-width: 5.4rem;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 1rem;
}

.mob-nav-button-red {
    background-color: var(--red);
    color: white;
    width: auto;
    padding: 0.8rem 0.87rem 0.72rem 0.87rem;
    margin: 0 0 .39rem 0;
    border-radius: 2rem;
}


@media (max-width:1023px) {
    nav {
        display: none;
    }
    .nav-mobile {
        display: flex;
    }
    .mobile-bottom-nav {
        display: flex;
    }
    main {
        margin-top: -3.7rem;
    }
}

            /* SEZIONE MAIN */
            

main {
    margin-bottom: 1.17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.07rem;
}

.image-container {
    background: linear-gradient(#987dee, #fef8cc);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 1.35rem;
}

.main-image img{
    width: 96vw;
    margin-top: 2rem;
    border-radius: 4px;
    max-width: 1440px;
}

.sub-image-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

h2 {
    font-size: 1.77rem;
    font-weight: bold;
}

.title-button-flex{
    display: flex;
    align-items: center;
}

.cartoon-violence-logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.755rem;
    font-family: museo100;
    padding: 2px 2px 0 0;
}

.cv-link:hover {
    color: #484848;
}

.cartoon-violence-logo div hr {
    border: .5px solid rgb(70, 70, 70);
    margin: .23rem -1px;
}

.hr-main {
    border: 0.5px solid #b4b4b482;
    width: 96vw;
    margin: 0 auto;
    max-width: 1440px;
}

@media (max-width:1023px) {
    .image-container {
        padding-bottom: 0;
    }
    .main-image img {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .sub-image-flex, .title-button-flex {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }
    .title-button-flex {
        text-align: center;
        background: linear-gradient(#F1C9BF, #FED4B9);
        background-size: 100% 90%;
        background-repeat: no-repeat;
        margin-top: -.3rem;
        margin-bottom: .2rem;

    }
    .title-button-flex h2 {
        padding-top: 1.6rem;
    }
}

@media (max-width:622px) {
    main {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .cartoon-violence-logo {
        display: none;
    }
    .title-button-flex {
        margin-bottom: 0.2rem;
    }
}

@media (max-width:428px) {
    h2 {
        font-size: 1.3rem;
    }
}


            /* SEZIONE FEATURED*/


.featured {
    padding: 3.2rem 0 2.5rem 0;
}

.featured h2 {
    width: 96vw;
    max-width: 1145px;
    margin: auto;
}

.flex-wrap-featured {
    display: flex;
    overflow: scroll;
    gap: 2rem;
    align-items: center;
    height: 22.2rem;
    padding: 0 2rem;
}

@media (max-width:768px) {
    .featured {
        padding: 1.5rem 0 1.5rem 0;
    }
    .flex-wrap-featured {
        height: 17.9rem;
        padding: 0 1rem;
    }
}


            /* SEZIONI ONLINE STORE E GAMING SYSTEMS*/


.online-store-main, .gaming-systems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96vw;
    max-width: 1145px;
    margin: auto;
    padding: 3rem 0 4.3rem 0;
}

.online-store-main h2, .gaming-systems h2 {
    align-self: flex-start;
    padding-bottom: 2.2rem;
}

picture img, .gaming-systems img {
    width: 100%;
}

.store-flex, .gaming-systems-flex {
    font-size: 1.09rem;
    letter-spacing: .4px;
    line-height: 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
}

.store-flex h3 {
    width: 75vw;
    max-width: 60rem;
}

.gaming-systems-flex {
    justify-content: flex-start;
}

@media (max-width:1023px) {
    .online-store-main h2, .gaming-systems h2 {
        padding-bottom: 1rem;
    }
    .online-store-main, .gaming-systems {
        padding-bottom: 3rem;
    }
    .store-flex, .gaming-systems-flex {
        flex-direction: column;
        padding: 0;
    }
    .store-flex h3, .gaming-systems h3 {
        width: 96vw;
    }
    .store-flex h3, .gaming-systems-flex h3 {
        padding: 2rem 0;
    }
}

@media (max-width:768px) {
    .online-store-main, .gaming-systems {
        padding: 1.5rem 0 2.15rem 0;
        flex-direction: column;
    }
    .store-flex, .gaming-systems-flex {
        font-size: .92rem;
        padding: 0;
    }
}

            /* SEZIONE NEWS */
.news {
    padding: 3rem 0 3rem 0;
    width: 96vw;
    max-width: 1145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.news h2 {
    margin-bottom: 1.5rem;
    align-self: flex-start;
}

.main-news, .other-news {
    display: flex;
    padding: 4rem 0;
    max-width: 20vw;
    align-self: flex-start;
}

@media (max-width:1023px) {
    .news {
        padding-bottom: 0;
    }
}

.news img {
    max-width: 18vw;  /* Aggiunto per gestire il responsive, si può eliminare per la stilizzazione definitiva*/
}


            /* SEZIONE CHARACTERS */


.characters {
    width: 96vw;
    margin: auto;
    padding-top: 3rem;
    max-width: 1140px;
}

.characters-flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 96vw;
    margin: 0 auto;
    padding: 1rem 0 3rem 0;
}

@media (max-width:768px) {
    .characters-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width:360px) {
    .characters, .characters-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

            /* SEZIONI DIGITAL NEW RELEASES E DIGITAL BEST SELLERS */


.digital-best-sellers, .digital-new-releases {
    padding-top: 3rem;
    padding-bottom: .5rem;
    width: 96vw;
    margin: auto;
    max-width: 1145px;
}

.digital-new-releases {
    padding-top: 1.8rem;
}

.titolo-e-link {
    display: flex;
    align-items: center;
    width: 96vw;
}

.titolo-e-link > a {
    color: var(--red);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    padding-left: 1rem;
}

.separator {
    border-right: 1px solid lightgray;
    padding-right: 1rem;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 1145px;
    height: 26.875rem;
    margin: auto;
    gap: 2.4rem;
    overflow: scroll;
    padding: 0 2rem;
}

@media (max-width:768px) {
    .digital-best-sellers, .digital-new-releases {
        padding-top: 2rem;
    }
}

@media (max-width:428px) {
    .titolo-e-link {
        flex-direction: column;
        align-items: flex-start;
        gap: .8rem;
    }
    .titolo-e-link > a {
        font-size: .9rem;
        padding: 0;
    }
    .separator {
        border: none;
    }
    .card-container {
        height: 21.69rem;
    }
}

.footer-esrb-logo {
max-width: 300px;   /* Aggiunto per gestire il responsive, si può eliminare per la stilizzazione definitiva*/
}